.imageClass{
    width: 200px;
    height: 200px;
}
.vertical-align{
    display: flex;
    align-items: center;
}
/*.col-xs{
    margin-left: 200px;
    text-align: center;
}
.col{
    margin-left: 200px;
    text-align: center;
}*/

/* :: 8.0 Footer Area CSS */
.footer_area {
    position: relative;
    z-index: 1;
    background-color: #252525;
    padding: 80px 0; }
    .footer_area .single_widget_area .copywrite {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.4);
      margin-top: 10px; }
      .footer_area .single_widget_area .copywrite a {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4); }
        .footer_area .single_widget_area .copywrite a:hover {
          color: #fff; }
    .footer_area .single_widget_area .footer_menu {
      position: relative;
      z-index: 1;
      margin-left: auto; }
      .footer_area .single_widget_area .footer_menu .navbar {
        padding: 0; }
      .footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link {
        padding: 10px 30px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link {
            padding: 10px 0; } }
        @media only screen and (max-width: 767px) {
          .footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link {
            padding: 10px 0; } }
        .footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link:hover, .footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link:focus {
          color: #fbb710; }
      .footer_area .single_widget_area .footer_menu .navbar-nav .nav-item.active .nav-link {
        color: #fbb710; }
      .footer_area .single_widget_area .footer_menu .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0; }